.footer-style{
    background-color:rgb(208, 227, 248);
    text-align: center;
    padding:  20px 0px 20px 0px;
    font-weight: 600;
    
}

.flex-container-content{
display: flex;
  justify-content: space-around;
   background-color: rgb(233, 241, 248);
   padding: 10px 10px 10px 10px;
}

.flex-container-content > div{
     margin: 10px;
      padding: 80px 10px 80px 10px;
  font-size: 20px;
}

.icons{
   font-size: xx-large;
  margin: 0px 20px 0px 0px;

}

